<div class="container" *ngIf="pokemon">
  <h3><span>Name: </span>{{pokemon.name | titlecase}}</h3>
  <h3><span>Id: </span>{{pokemon.id}}</h3>
  <div *ngIf="movesNames">
    <h3><span>Moves: ({{movesNames.length}})</span></h3>
    <ul class="all-names">
      <li *ngFor="let movesName of movesNames"><p>{{movesName}}</p></li>
    </ul>
  </div>
  <div *ngIf="statsNames">
    <h3><span>Stats: ({{statsNames.length}})</span></h3>
    <ul class="all-names">
      <li *ngFor="let statsName of statsNames"><p>{{statsName}}</p></li>
    </ul>
  </div>
</div>

<div class="save-btn" *ngIf="pokemon">
  <a [routerLink]="['/mypokemons', {name:name}]" (click)="saveIvCaught()">Pokemon I've caught</a>
  <a [routerLink]="['/mywishlist', {name:name}]"   (click)="saveWishlist()">Pokemon Wishlist</a>
</div>
