
<form (ngSubmit)="onSubmit(name)">
  <input id="search-box" [(ngModel)]="name" name="name" placeholder="name of pokemon" />
  <button type="submit" >Search</button> 
</form>

<app-pokemon-detail [pokemon]="searchedPokmon"></app-pokemon-detail>

<div>
  <h2>All Pokemons</h2>
    <div class="all-names">
      <a *ngFor="let name of allPokemonsName" (click)="getDetailInfo(name)">{{name}}</a>
    </div>


  <button *ngIf="previous" (click)="getPreviousPage()">Previous</button>
  <button *ngIf="next" (click)="getNextPage()">Next</button>
</div>

<!---->

