
<form (ngSubmit)="onSubmit(name)">
  <input id="search-box" [(ngModel)]="name" name="name" placeholder="name of pokemon" />
  <button type="submit" >Search</button> 
</form>

<div *ngIf="searchedPokmon">
  <h3><span>Name: </span>{{searchedPokmon.name}}</h3>
  <h3><span>Id: </span>{{searchedPokmon.id}}</h3>
 
</div>


<div>
  <a [routerLink]="['/mypokemons', {name:name}]" (click)="saveIvCaught()">Pokemon I've caught</a>
  <a routerLink="/mywishlist"   (click)="saveWishlist()">Pokemon Wishlist</a>
</div>


<!---->

